In [1]:
import pandas as pd

In [5]:
customers = pd.read_csv("Customers.csv")
inventory = pd.read_csv("Inventory.csv")
order_items = pd.read_csv("Order_Items.csv")
orders = pd.read_csv("Orders.csv")
products = pd.read_csv("Products.csv") 
stores = pd.read_csv("Stores.csv")
suppliers = pd.read_csv("Suppliers.csv")

print("Files Loaded Succesfully")

Files Loaded Succesfully

In [6]:
# VALIDATION CHECKS
report = {}

# Null checks
report["null_customer_in_orders"] = orders["customer_id"].isnull().sum()
report["null_product_in_orderitems"] = order_items["product_id"].isnull().sum()

# Duplicate checks
report["duplicate_orders"] = orders["order_id"].duplicated().sum()

# Negative checks
report["negative_quantity"] = (order_items["quantity"] <= 0).sum()
report["negative_unit_price"] = (order_items["unit_price"] <= 0).sum()

# Selling price anomaly
report["selling_less_than_cost"] = (products["selling_price"] < products["cost_price"]).sum()

df_report = pd.DataFrame(report.items(), columns=["Check", "Issue_Count"])
df_report

                        Check  Issue_Count
0     null_customer_in_orders            0
1  null_product_in_orderitems            0
2            duplicate_orders            0
3           negative_quantity            0
4         negative_unit_price            0
5      selling_less_than_cost            0

In [7]:
# Saving Report
df_report.to_csv(r"C:\Retail_Data\data_quality_report.csv", index=False)

print("Data quality report saved successfully.")

Data quality report saved successfully.